<!DOCTYPE html>
<html>
<head>

	<title>CommingSoon - Admin</title>

	<!-- JS -->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 

	<!-- Twitter Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<header>
		<h1>CommingSoon - Admin Page</h1>
	</header>

	<div class="container-fluid">
		<div class="row">
			<form>
			  	<div class="form-group">
			    	<label for="logo">Logo image</label>
			    	<input type="file" id="logo">
			    	<p class="help-block">Ajouter votre logo ici</p>
			  	</div>

			  	<div class="form-group">
			    	<label for="background">Background image</label>
			    	<input type="file" id="background">
			    	<p class="help-block">Ajouter image de fond d'écran (optionnel)</p>
			 	</div>

			 	<div class="form-group">
			  		<label for="baseline">Baseline</label>
			  		<textarea class="form-control" rows="3" id="baseline"></textarea>
			 	</div>

			  	<div class="form-group">
			  		<label for="placeholder">Placeholder</label>
			  		<input type="text" class="form-control" placeholder="placeholder" id="placeholder">
			  	</div>

			  	<div class="form-group">
			  		<label for="placeholder">Button Value</label>
			  		<input type="text" class="form-control" placeholder="button value" id="button-value">
			  	</div>

			  	<div class="form-group">
			    	<label for="email">Email address</label>
			    	<input type="email" class="form-control" id="email" placeholder="Enter email">
			    	<p class="help-block">Entrez la boîte mail qui recevera les inscritpions</p>
			  	</div>

			  	<div class="form-group">
			  		<label for="help-label">Help Label</label>
			  		<input type="text" class="form-control" placeholder="placeholder" id="help-label">
			  	</div>

			  	<div class="form-group">
			  		<label for="meta-title">Meta title</label>
			  		<input type="text" class="form-control" placeholder="placeholder" id="meta-title">
			  	</div>

			  <div class="checkbox" id="show-link">
			    	<label>
			      		<input type="checkbox"> Support the developper showing a link
			    	</label>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>




</body>

</html>